body {
    background-color: #D1C0CF;
    font-family: 'Courier New', Courier, monospace;
    color: #985277;
    text-align: center;
}

button {
    padding: 10px;
    text-align: center;
    border: 2px solid #36453B;
    border-radius: 25px;
    background-color: #9EBC9E;
    color: #36453B;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    outline: none;
}

button:hover, button:focus {
    color: #985277;
    background-color: #FFCFD2;
    border-color: #985277;
    outline: none;
}

button:active {
    transform: translateY(3px);
    outline: none;
}

.level-options {
    color: #36453B;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    text-align: center;
}

table {
    margin: 35px auto;
    border:2px solid #36453B;
    border-collapse: collapse;
    color: #381935;
}
td {
    border:1px solid #36453B;
    border-collapse: collapse;
    padding: 5px;
    width: 40px;
    height: 40px; 
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #985277;
}

.shown {
    background-color: #FFCFD2;
}

.hidden {
    background-color: #9EBC9E;
}

td.hidden:hover {
    color: #985277;
    background-color: #FFAFC5;
    border-color: #985277;
}

.hidden .td-text {
    visibility: hidden;
}

.lose  {
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;
    color: #985277;
    display: none;
}

.win {
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;
    color: #985277;
    display: none;
}