body {
    background-color: #D1C0CF;
    font-family: 'Courier New', Courier, monospace;
    color: #985277;
    text-align: center;
}

button {
    margin-left: 3px;
    margin-right: 3px;
    padding: 10px 17px;
    text-align: center;
    border: 2px solid #36453B;
    border-radius: 25px;
    background-color: #9EBC9E;
    color: #36453B;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    outline: none;
}

button:hover {
    color: #985277;
    background-color: #FFCFD2;
    border-color: #985277;
    outline: none;
}

button:active {
    transform: translateY(3px);
    outline: none;
}

.level-options {
    color: #36453B;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    text-align: center;
}

.game-info {
    display: inline;
    margin: 0 1em;
}

.game-info {
    margin: 2em 0;
}

#unicorn {
    margin-bottom: 1em;
    border: 2px solid #36453B;
    border-radius: 50%;
    padding: 20px;
}

.game-off {
    background-color: #FFCFD2;
}

table {
    margin: 1em auto;
    border:2px solid #43574a;
    border-collapse: collapse;
    color: #381935;
}
td {
    border:2px solid #43574a;
    border-collapse: collapse;
    padding: 5px;
    width: 40px;
    height: 40px; 
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #985277;
}

.shown {
    background-color: #FFCFD2;
    border-color: #985277;
}

.hit {
    color: #FFCFD2;
    background-color: #FFAFC5;
}

.hidden {
    background-color: #9EBC9E;
}

td.hidden:hover {
    color: #985277;
    background-color: #FFAFC5;
    border-color: #985277;
}

.hidden .td-text {
    visibility: hidden;
}

.lose  {
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;
    color: #985277;
    display: none;
}

.win {
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;
    color: #985277;
    display: none;
}

.heart {
    margin: 10px;
}
